# Dependencies
node_modules/
.pnpm-store

# Production build
dist/
dist-ssr/
*.local

# Environment & Logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# IDE & Cache
.vscode/
.idea/
.cache
E:\npm-cache
